<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" >
	<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js" ></script>
	<title>Home</title>
</head>
<body>
<div class="wrapper">
	<div class="banner">
		<div class="container">
			<div class="navbar">
				<span class="menu"><img src="images/menu.png" alt=" "/></span>
				<nav class="navbar-text">
					<ul class="nav1">
						<li class=""><a href="index.html" class="act">Home</a></li>
						<li><a href="#portfolio" class="scroll">Portfolio</a></li>
						<li><a href="#portfolio" class="scroll">Blog</a></li>
						<li><a href="#about" class="scroll">About</a></li>
						<li><a href="#contact" class="scroll">Contact</a></li>
					</ul>
				</nav>
			</div>
				<!-- <div class="logo">
					<a href="index.html"><img src="images/logo.png" alt=" " /></a>
				</div> -->
			<div class="clearfix"> </div>
			<div class="intro" >
				<div class="heading">Hey!!! my name is Rupesh Maharjan and this is my portfolio</div>
				<img class="circular-img" />
			</div>
		</div>
	</div>
	<div class="content">
		<div class="container">
			<div class="item-1">

			</div>
			<div class="item-2">

			</div>
			<div class="item-3">

			</div>
			<div class="item-4">

			</div>
		</div>
	</div>
<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="copyright">
				<p>Copyright © 2015 Express. All Rights Reserved | Design by<a href="http://github.com/rupace10"> Rupesh Maharjan</a></p>
			</div>
			<div class="s-icons">
				<ul>
					<li><a href="#" class="twitter"> </a></li>
					<li><a href="#" class="in"> </a></li>
					<li><a href="#" class="dribble"> </a></li>
					<li><a href="#" class="be"> </a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //footer -->
</div>

</body>
</html>