body{
	background: #f2f2f2;
}
body a{
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
body a:hover{
	text-decoration:none;
}

.banner{
	background:url(../images/banner.jpg) no-repeat 0px 0px;
	background-size:cover;
	min-height:625px;
}
.logo{
	float:left
}
.logo a{
	display:block;
}
.navbar{
/*	text-align: center;*/
}
.navbar span{
	display:none;
	width: 100%;
}
nav{
	width: 100%;
}
.navbar ul{
	width: 100%;
	padding:3.5em 0 0 0em;
	margin:0;
	display: inline-block;
	text-align: center;
}
.navbar ul li{
	display:inline;
	margin:0 15px;
}
.navbar ul li a{
	width: 120%
	display: inline-block;
	font-size:16px;
	text-decoration:none;
	color: #fff;
	font-weight:500;
}
.navbar ul li a:hover{
	color: #34acb7;
	text-decoration:none;
}
.intro{
	float: right;
	display: inline;
}
.heading{
	color: #fff;
	font-size: 2em;
	display: inline;
}
.circular-img{
	width: 150px;
	height: 150px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background: url(../images/intro.jpg) no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	}
/*end*/

/*styling for content start here*/
.content{
	padding: 80px;
	width: 100%;
	height: auto;
	background-color: #f7f7f7;
	text-align: center;
}
.portfolio-text{
	font-size: 3em;
	color: #95dad6;
}
.item-1{
	width: 400px;
	height: 400px;
	display: inline-block;
	margin: 50px;
	background-color: #999999;
}
.item-2{
	width: 400px;
	height: 400px;
	display: inline-block;
	margin: 50px;
	background-color: #999999;
}
.item-3{
	width: 400px;
	height: 400px;
	display: inline-block;
	margin: 50px;
	background-color: #999999;
}
.item-4{
	width: 400px;
	height: 400px;
	display: inline-block;
	margin: 50px;
	background-color: #999999;
}
.more{
	width: auto;
	height: auto;

}
/*end*/

/*footer styling*/
.footer{
	padding:2em 0;
	background:#3c4959;
	margin: 0px;
}
.copyright{
	float: left;
}
.copyright p{
	color:#fff;
	font-size:14px;
	margin:2em 0 0;
}
.s-icons{
	float:right;
}
/* end */

@media (max-width:480px){
	.navbar ul {
		position: absolute;
		padding: 0;
		margin: 0;
		left: 2%;
		width: 96%;
		z-index: 999;
	}
	.navbar ul.nav1 li {
		display: inline-block;
		margin: 0;
		width: 100%;
		padding: 17px 1em;
		text-align: center;
	}
	span.menu {
		display: block;
		cursor: pointer;
		width: 100%;
		position: relative;
		text-align:right;
		margin: 3px 0;
		}
	ul.nav1{
		display:none;
		background: #b8d3d9;
		transparency: true;
		margin-top:2em;
		width: 100%;
		}
}