<div class="footer">
		<div class="container">
			<div class="copyright">
				<p>Copyright © 2015 Express. All Rights Reserved | Design by<a href="http://w3layouts.com/"> W3layouts</a></p>
			</div>
			<div class="s-icons">
				<ul>
					<li><a href="#" class="twitter"> </a></li>
					<li><a href="#" class="in"> </a></li>
					<li><a href="#" class="dribble"> </a></li>
					<li><a href="#" class="be"> </a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>